.vscode/
**/.vscode/
.azure/
**/.azure/
/package-lock.json
login-project/backend/
login-project/frontend/

node_modules/
**/node_modules/
.next/
**/.next/
.vercel/
coverage/
**/coverage/
logs/
**/logs/
*.log
*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example